.hero-section {
  background: url("/pics/hero-background.svg") repeat center center/cover;
  width: 100%;
  min-height: 100vh;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.hero-section-heading {
  position: relative;
  text-align: center;
  max-width: 100%;
}

.hero-section-heading-image1,
.hero-section-heading-image2 {
  position: absolute;
  object-fit: contain;
  /* animation: move 5s ease-in-out infinite; */
}
/* @keyframes move {
  0% {
    transform: translateY(10px);  
  }
  50% {
    transform: translateX(10px); 
  }
  100% {
    transform: translateY(10px);  
  }
  
} */

.hero-section-heading-image1 {
  top: -100px;
  right: 20px;
  width: 200px;
}

.hero-section-heading-image2 {
  top: -10px;
  left: -10px;
  width: 100px;
  transform: scaleX(-1);
}

.hero-section-heading h1 {
  font-size: clamp(2.5em, 10vw, 7em);
  color: var(--brand-color);
  margin: 0;
  max-width: 100%;
  font-family: "StandieFont", sans-serif;
}

.hero-flower-images {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin-top: 20px;
}

.flower-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 200px; */
}

.flower {
  width: 100%;
  height: auto;
}

.countdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  aspect-ratio: 1;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.countdown .number {
  font-family: "BeehiveFont", sans-serif;
  font-size: 5em;
  color: #ffd700;
  text-shadow: -2px 2px 0 #fb4511, 2px -2px 0 #fb4511, -2px -2px 0 #fb4511,
    2px 2px 0 #fb4511, 3px 3px 0 #fb4511, 6px 6px 0 #d93c0d;
}

.countdown .label {
  font-family: "Albert Sans", sans-serif;
  font-size: 1em;
  font-weight: bold;
  /* color: #fff; */
  color: var(--brand-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-top: -20px;
}

@media (max-width: 768px) {
  .hero-section-heading-image1,
  .hero-section-heading-image2 {
    width: 50px;
    height: 50px;
    top: -20px;
  }

  .hero-section-heading-image1 {
    right: -5%;
  }

  .hero-section-heading-image2 {
    left: -5%;
  }

  .flower-container {
    width: 120px;
  }

  .countdown .number {
    font-size: 1.8em;
  }

  .countdown .label {
    font-size: 0.8em;
  }
}
