.AboutUs {
  min-height: 100vh;
}
.aboutUS-heading {
  width: 100%;
  /* border: 2px solid var(--brand-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.heading {
  transition: transform 0.3s ease;
}
.heading:hover {
  transform: rotate(-10deg);
}
.aboutUS-heading img {
  max-width: 60%;
  height: auto;
}
.aboutus-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.aboutus-content img {
  width: 50%;
  filter: grayscale(90%);
  border-radius: 25px;
  border: 4px solid black;
  box-shadow: 10px 10px var(--brand-color);
}
.aboutus-content p {
  font-family: "Inter", sans-serif;
  text-align: left;
  font-size: 1.1em;
  color: var(--brand-color);
  opacity: 70%;
  font-weight: 600;
}
.marquee-wrapper-hero {
  position: relative;
  margin-top: -6rem;
  /* margin: 4rem 0; */
  height: 120px; /* Increased height to accommodate rotated borders */
}

.marquee-container-hero {
  position: absolute;
  width: 100vw; /* Increased width to account for rotation */
  left: 50%;
  transform: translateX(-50%);
  background: #ffb444 !important;
  border: 4px solid #4f291e !important;
  z-index: 1;
  overflow-x: hidden;
  padding: 1rem;
}
.marquee-top-hero {
  top: -20px;
  transform: translateX(-50%) rotate(3deg);
}

.marquee-bottom-hero {
  bottom: -20px;
  transform: translateX(-50%) rotate(-3deg);
}

.marquee-content-hero {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee 40s linear infinite;
  padding: 0 1rem; /* Add padding to prevent text clipping */
}
.marquee-content-hero span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #4f291e;
  /* padding: 0 1rem; */
}
@media (max-width: 768px) {
  .aboutUS-heading img {
    max-width: 100%;
  }
  .aboutus-content {
    flex-direction: column;
  }
  .aboutus-content img {
    width: 100%;
  }
  .aboutus-content p {
    font-size: 1rem;
    text-align: center;
  }
  .marquee-container-hero {
    padding: 0.5rem;
    width: 110vw;
  }
  .marquee-wrapper-hero {
    height: 100px;
  }
  .marquee-content-hero {
    padding: 0rem 0;
  }
  .marquee-content-hero span {
    font-size: 1rem;
  }
  .marquee-top-hero {
    top: -3px;
    transform: translateX(-50%) rotate(3deg);
  }

  .marquee-bottom-hero {
    bottom: 50px;
    transform: translateX(-50%) rotate(-7deg);
  }
}
