.AboutUs {
  min-height: 100vh;
}
.aboutUS-heading {
  width: 100%;
  /* border: 2px solid var(--brand-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.heading {
  transition: transform 0.3s ease;
}
.heading:hover {
  transform: rotate(-10deg);
}
.aboutUS-heading img {
  max-width: 60%;
  height: auto;
}
.aboutus-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.aboutus-content img {
  width: 50%;
  filter: grayscale(90%);
  border-radius: 25px;
  border: 4px solid black;
  box-shadow: 10px 10px var(--brand-color);
}
.aboutus-content p {
  font-family: "Inter", sans-serif;
  text-align: left;
  font-size: 1.1em;
  color: var(--brand-color);
  opacity: 70%;
  font-weight: 600;
}
@media (max-width: 768px) {
  .aboutUS-heading img {
    max-width: 100%;
  }
  .aboutus-content {
    flex-direction: column;
  }
  .aboutus-content img {
    width: 100%;
  }
  .aboutus-content p {
    font-size: 1rem;
    text-align: center;
  }
}
