.prizes {
  margin-bottom: 100px;
  font-family: "Albert Sans", sans-serif;
  padding: 20px;
}

.prizes-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.container-prize {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-prize {
  background: #3498db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  transition: transform 0.9s ease-in-out, opacity 0.7s ease-in-out;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1/1;
}

.card-prize h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.card-prize h2 {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: bolder;
}

.card-prize h3 {
  font-size: large;
  font-weight: bold;
}

/* Initial state - peeking effect */
.card-prize:nth-child(1) {
  background: #f2bf41;
  transform: translateX(100px) skew(10deg) scale(0.9);
  opacity: 0.8;
  color: #4f291e;
}

.card-prize:nth-child(2) {
  background: #e35734;
  transform: translateX(0);
  z-index: 1;
}

.card-prize:nth-child(3) {
  background: #5fa19e;
  color: #4f291e;
  transform: translateX(-100px) skew(-10deg) scale(0.9);
  /* z-index: ; */
  opacity: 0.8;
}

/* Spread effect when scrolled into view */
.container-prize.visible .card-prize:nth-child(1) {
  transform: translateX(-5px) scale(1);
  opacity: 1;
}

.container-prize.visible .card-prize:nth-child(2) {
  transform: translateX(0px) scale(1);
}

.container-prize.visible .card-prize:nth-child(3) {
  transform: translateX(5px) scale(1);
  opacity: 1;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .container-prize {
    flex-direction: column;
    align-items: center;
  }
  .card-prize {
    transform: none !important;
    opacity: 1 !important;
  }
}

@media (max-width: 768px) {
  .card-prize {
    max-width: 300px;
    padding: 15px;
  }
  .card-prize h1 {
    font-size: 1.5rem;
  }
  .card-prize h2 {
    font-size: 2rem;
  }
  .card-prize h3 {
    font-size: medium;
  }
}

@media (max-width: 480px) {
  .card-prize {
    /* max-width: 250px; */
    padding: 10px;
  }
  .card-prize h1 {
    font-size: 1.2rem;
  }
  .card-prize h2 {
    font-size: 1.5rem;
  }
  .card-prize h3 {
    font-size: small;
  }
}
