@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "StandieFont";
  src: url("/fonts/Standie-Bold.otf") format("opentype"),
    url("/fonts/StandieItalic-BoldItalic.otf") format("opentype"),
    url("/fonts/Standie-Bold.ttf") format("truetype"),
    url("/fonts/StandieItalic-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BeehiveFont";
  src: url("/fonts/HexGirlfriendRegular-KPpA.ttf") format("truetype");
}
@font-face {
  font-family: "Grifter";
  src: url("fonts/GRIFTER.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HyperFactos";
  src: url("fonts/HyperFactos.otf") format("opentype");
  src: url("fonts/HyperFatosItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #e4d9ba;
  --brand-color: #4f291e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e4d9ba;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
